USE [PTPM_QLBanHang]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](30) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Luong] [int] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[NgayBan] [datetime] NULL,
	[MaKH] [int] NULL,
	[MaNV] [nvarchar](30) NULL,
	[TongTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDSDonHang]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDSDonHang]
as
SELECT MaHD, NgayBan, TongTien, KhachHang.HoTen AS TenKH, NhanVien.HoTen AS TenNV FROM HoaDon INNER JOIN KhachHang ON HoaDon.MaKH = KhachHang.MaKH
INNER JOIN NhanVien ON HoaDon.MaNV = NhanVien.MaNV
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [nvarchar](10) NULL,
	[MaSP] [int] NULL,
	[TenSP] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaChiTietPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NULL,
	[MaSP] [int] NULL,
	[DonGiaNhap] [decimal](18, 0) NULL,
	[SoLuongNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNSX] [int] NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuongTon] [int] NULL,
	[DaBan] [int] NULL,
	[MaNSX] [int] NULL,
	[MaLoaiSP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/15/2025 23:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TK] [nvarchar](50) NULL,
	[MK] [varchar](50) NULL,
	[MaNV] [nvarchar](30) NULL,
	[Quyen] [nvarchar](10) NULL,
	[TrangThai] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSP], [TenSP], [SoLuong], [DonGia]) VALUES (1, N'T25489929', 5, N'Áo dài đỏ', 3, CAST(60000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSP], [TenSP], [SoLuong], [DonGia]) VALUES (2, N'K33333333', 6, N'Áo khoác', 5, CAST(70000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSP], [TenSP], [SoLuong], [DonGia]) VALUES (3, N'T44124141', 2, N'Quần tây đen dài', 2, CAST(75000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [MaKH], [MaNV], [TongTien]) VALUES (N'K33333333', CAST(N'2025-07-11T00:00:00.000' AS DateTime), 2, N'L002673', CAST(35000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [MaKH], [MaNV], [TongTien]) VALUES (N'K53456711', CAST(N'2025-07-13T00:00:00.000' AS DateTime), 2, N'L002673', CAST(12000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [MaKH], [MaNV], [TongTien]) VALUES (N'T25489929', CAST(N'2025-07-10T00:00:00.000' AS DateTime), 1, N'N001666', CAST(180000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [Hoten], [DiaChi], [NgaySinh], [SoDienThoai]) VALUES (1, N'Trịnh Tùng Chiến', N'TPHCM', CAST(N'2000-10-22T00:00:00.000' AS DateTime), N'0954586929')
INSERT [dbo].[KhachHang] ([MaKH], [Hoten], [DiaChi], [NgaySinh], [SoDienThoai]) VALUES (2, N'Nguyễn Thanh Minh Sơn', N'Cầu Giấy Hà Nội', CAST(N'2000-09-21T00:00:00.000' AS DateTime), N'0876543211')
INSERT [dbo].[KhachHang] ([MaKH], [Hoten], [DiaChi], [NgaySinh], [SoDienThoai]) VALUES (3, N'Trần Hồ Thiên Phú', N'Vĩnh Long', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'0934567899')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP]) VALUES (1, N'Quần jeans')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP]) VALUES (2, N'Áo khoác')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP]) VALUES (3, N'Quần tây')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [NgaySinh], [ChucVu], [Luong], [SoDienThoai]) VALUES (N'L002673', N'Nguyễn Lê Đức Hoàng', N'Phường An Đông', CAST(N'2006-08-22T00:00:00.000' AS DateTime), N'Nhân viên bán hàng', 7000000, N'0987656673')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [NgaySinh], [ChucVu], [Luong], [SoDienThoai]) VALUES (N'N001666', N'Huỳnh Lê Duy Đăng', N'Phường Hòa Hưng', CAST(N'2006-08-22T00:00:00.000' AS DateTime), N'Nhân viên bán hàng', 7000000, N'0987656666')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [NgaySinh], [ChucVu], [Luong], [SoDienThoai]) VALUES (N'U004555', N'Lương Vĩnh Phúc', N'Phường An Hội Đông', CAST(N'2006-10-22T00:00:00.000' AS DateTime), N'Nhân viên bán hàng', 7000000, N'0987653138')
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [DiaChi], [SDT]) VALUES (1, N'CÔNG TY HÀNG HOÁ SỈ LẺ 1', N'78-80-82 Hoàng Hoa Thám, Phường Bảy Hiền', N'0987654321')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [DiaChi], [SDT]) VALUES (2, N'CÔNG TY HÀNG HOÁ SỈ LẺ 2', N'59-65-72 Lê Đức Thọ, Phường An Hội Đông', N'0123456789')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [HinhAnh], [DonGia], [SoLuongTon], [DaBan], [MaNSX], [MaLoaiSP]) VALUES (1, N'Quần jeans xám dài', N'C:\Users\ADMIN\Downloads\DA_PTPM_NHOM_3_ThemReport\Source\QuanLyBanHang\Resources\c2d306921dbece34788d4ae44633fe89.jpeg', CAST(68000 AS Decimal(18, 0)), 88, 20, 1, 5)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [HinhAnh], [DonGia], [SoLuongTon], [DaBan], [MaNSX], [MaLoaiSP]) VALUES (2, N'Quần tây đen dài', N'C:\Users\ADMIN\Downloads\DA_PTPM_NHOM_3_ThemReport\Source\QuanLyBanHang\Resources\MVPB019M-STLBK01-1.png', CAST(75000 AS Decimal(18, 0)), 100, 11, 1, 5)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [HinhAnh], [DonGia], [SoLuongTon], [DaBan], [MaNSX], [MaLoaiSP]) VALUES (3, N'Quần dài nam trắng', N'C:\Users\ADMIN\Downloads\DA_PTPM_NHOM_3_ThemReport\Source\QuanLyBanHang\Resources\134135-quan-dui-nam-dai-ong-con-trang-1.jpg', CAST(156000 AS Decimal(18, 0)), 100, 11, 1, 5)

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TK], [MK], [MaNV], [Quyen], [TrangThai]) VALUES (1, N'phuc', N'123', N'U004555', N'User', N'Offline')
INSERT [dbo].[TaiKhoan] ([MaTK], [TK], [MK], [MaNV], [Quyen], [TrangThai]) VALUES (2, N'hoang', N'123', N'L002673', N'User', N'Offline')
INSERT [dbo].[TaiKhoan] ([MaTK], [TK], [MK], [MaNV], [Quyen], [TrangThai]) VALUES (3, N'dang', N'123', N'N001666', N'User', N'Offline')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
